<div class="main-postbox__container">
    <div class="main-postbox__post">
        <i class="fa-solid fa-file-contract fa-2xl"></i>
        <input type="text" placeholder="O que está pensando?">
    </div>
    <div class="main-postbox__actions">
        <button type="button" class="btn-gif"><i class="fa-solid fa-images"></i> Gif</button>
        <button type="button" class="btn-gif"><i class="fa-solid fa-camera"></i> Foto</button>
        <button type="button" class="btn-gif"><i class="fa-solid fa-video"></i> Video</button>
        <button type="button" class="btn-publish">Publicar</button>
    </div>
</div>
