.main-menu__main{
    background-color: var(--text-white-color);
}

/* MENU OPTIONS */
.main-menu__notification{
    color: var(--menu-disabled);
    cursor: not-allowed;
}

.main-menu__menssage{
    color: var(--menu-disabled);
    cursor: not-allowed;
}

.main-menu__club{
    color: var(--menu-disabled);
    cursor: not-allowed;
}

.main-menu__home{
    color: var(--menu-disabled);
    cursor: not-allowed;
}

.main-menu__login{
    color: var(--menu-gray-normal);
}

.main-menu__login:hover{
    color: var(--menu-gray-hover);
    cursor: pointer;
}

/* END MENU OPTIONS */

.main-menu__box{
    display: flex;
    align-items: center;

    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 13px;
}

.main-menu__block1{
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.main-menu__block2{
    display: flex;
    align-items: center;
    padding-right: 20px;
}
ul li{
    display: inline;
    padding: 10px;
    margin-left: 5px;
  }

  ul li > i{
    padding-right: 6px;
  }

input[type=text] {
    width: 200px;
    height: 35px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border:solid 1px #ccc;
    border-radius: 5px;
    margin-left: 10px;
  }

  /* CSS COM RESPONSIVIDADE */
  @media screen and (max-width: 916px) {
    .main-menu__block2{
        font-size: 10px;
    }

  }

  @media screen and (max-width: 803px) {
    .main-menu__block2{
        display: none;
        visibility: hidden;
    }

    .main-menu__block1 > input[type=text]{
        display: none;
        visibility: hidden;
    }
}
