<div class="main-menu__main">
    <div class="main-menu__box">

        <div class="main-menu__block1">
            <img [src]="gplogoURL" width="45">
            <input type="text" placeholder="Pesquisar">
        </div>

        <div class="main-menu__block2">
            <nav>
                <ul>
                    <li class="main-menu__home"><i class="fa-solid fa-house-chimney fa-xl"></i>Home</li>
                    <li class="main-menu__club"><i class="fa-solid fa-heart fa-xl"></i>Meu Clube</li>
                    <li class="main-menu__menssage"><i class="fa-solid fa-message fa-xl"></i>Mensagens</li>
                    <li class="main-menu__notification"><i class="fa-solid fa-bell fa-xl"></i>Notificações</li>
                    <li class="main-menu__login"><i class="fa-solid fa-user fa-xl"></i>Entrar ou Cadastrar</li>
                </ul>
            </nav>
        </div>
</div>
